body {
    background-color: #00001d;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 0;
}

.sans_serif {
    font-family: 'El Messiri', sans-serif;
    color: white;
}

.serif {
    color: white;
    font-family: 'Roboto Serif', serif;
}

.shop_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 360px;
}

.logo_name {
    color: white;
    font-size: 60px;
}

.book_icon {
    width: 42px;
}

.header_top_search {
    color: white;
    width: fit-content;
}

.serach_bar {
    display: inline-block;
    background-color: #00001d;
    border: 1px solid rgba(255, 255, 255, .1);
    width: 950px;
    height: 60px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
}

.search_box {
    padding: 0 40px;
    width: 150px;
    color: white;
    border-radius: 5px;
    background-color: #ff6162;
    font-size: 22px;
    width: fit-content;
    height: 60px;
}

.search_box:hover {
    background-color: #00001d;
    border: 1px solid #ff6162;
    color: #ff6162;

}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 360px;
}



.contact {
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding-top: 0px;
}


.tel:hover {
    transition: 0.5s ease;
    color: #ff6162;
}

nav .wrapper {
    background-color: #00001d;
    max-width: 1250px;
    padding: 0 30px;
    position: relative;
}

.nav_links li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 9px 50px;
    transition: 0.5s ease;
}


.nav_links .mega_box .content a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 9px 15px;
    transition: 0.5s ease;
}

.nav_links li a:hover {
    color: #ff6162;
}

.nav_links li {
    list-style: none;
}

.nav_links {
    z-index: 100;
    display: inline-flex;
    margin-left: -118px;
}

.mega_box {
    position: absolute;
    top: 50px;
    left: -33px;
    background-color: #00001d;
    width: 1000px;
    height: fit-content;
    visibility: collapse;
    opacity: 0;
    padding: 0 30px;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    transform: translateY(1em);
    z-index: 1;
}

.mega_box .content {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
}

.content .row {
    line-height: 55px;
}

.content .row header {
    font-size: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-right: 100px;
    transition: 0.5s ease;
}


.content .row .mega_links {
    margin-left: -55px;
}

.row .mega_links li a:hover {
    color: #ff6162;
}

.row .mega_links li a {
    transition: 0.5s ease;
}

.nav_links li:focus .mega_box,
.nav_links li:focus-within .mega_box,
.nav_links li:hover .mega_box {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.section_template {
    height: fit-content;
    width: 100%;
    background-image: url(images/dark_bg_2.png);
    z-index: -1;
}

.section_template .section_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 360px;
}

.section_img {
    height: 600px;
    margin-right: 0px;
    margin-top: 25%;
}

.section_template div div b {
    text-transform: uppercase;
    font-size: 43px;
    letter-spacing: 10px;
    font-weight: 2000;
}

.section_template div div p {
    text-align: left;
}

.section_template div .section_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.content_underline {
    border-bottom: 4px solid #ff6162;
    opacity: 1px;
    padding-right: 100px;
    font-size: 0px;
}

.section_template_content {
    font-size: 18px;
}

.section_content a {
    text-decoration: none;
}

.section_content button {
    display: flex;
    width: 200px;
    height: 60px;
    background-color: #00001d;
    border: 2px solid white;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    padding: 0 25px;
}

.section_content button:hover {
    background-color: #ff6162;
    border: 2px solid #ff6162;
    transition: 0.5s ease;
}



.section_content button span {
    margin-right: 20px;
}

.btn_img {
    padding-bottom: 7px;

}

.section_template_feature img {
    width: 75px;
    height: 75px;
    padding-left: 10px;
    padding-top: 15px;
    transition: transform ease-in-out;
}

@keyframes shake {
    from {
        transform: scale(1.2) rotate(-1.4deg);
    }

    to {
        transform: rotate(2.8deg) scale(1.2);
    }
}

.section_template_feature .feature:hover img {
    width: 75px;
    height: 75px;
    padding-left: 10px;
    padding-top: 15px;
    animation: shake 0.1s ease-in-out 0.1s 4;
}

.four_features {
    padding: 0 360px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.feature_content_1,
.feature_content_2,
.feature_content_3,
.feature_content_4 {
    padding-top: 30px;
    margin-left: 25px;
    line-height: 15px;
    font-size: 19px;
}

.feature div b {
    font-size: 26px;
}

.feature {
    display: flex;
    background-color: #030128;
    height: 100px;
    width: 320px;
    padding: 10px 13px;
}

.section_template_feature {
    margin-top: 70px;
}

.section_template_feature_1 {
    visibility: hidden;
    display: none;
}

.best_seller_header {
    margin-top: 0;
    text-align: center;
    line-height: 14px;
    padding-bottom: 20px;
    padding-top: 200px;
}

.best_seller_header b {
    font-size: 44px;
}

.best_seller_header p {
    font-size: 23px;
}

.best_seller_section {
    padding: 0 360px;
    display: flex;
    justify-content: space-between;
}

.best_seller {
    position: relative;
    margin-top: 50px;
    border: 1px solid rgb(97, 78, 78);
    box-sizing: border-box;
    width: 300px;
    height: 480px;
    margin-right: 40px;
}

.best_seller_1 .best_seller {
    margin-right: 200px;

}

.best_seller_1 {
    display: flex;
    justify-content: space-evenly;

}

.best_seller_img {
    display: grid;
    place-items: center;
}

.best_seller_img img {
    width: 200px;
    height: 270px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.best_seller div p img {
    width: 19px;
    margin-top: -10px;
}

.best_seller_content p b {
    line-height: 10px;
    padding-left: 30px;
    font-size: 23px;
}

.star {
    margin-right: 10px;
    margin-left: 20px;
}

.star img {
    width: 100px;
    padding-left: 10px;
}

.price {
    color: #ff6162;
    display: block;
}

.sale_off {
    text-decoration: line-through;
    color: white;
    padding-left: 30px;
}

.special_price {
    display: flex;
}

.special_price span {
    margin-right: -26px;
}

.special_offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/dark_bg_3.png);
    width: 100%;
    height: 540px;
    text-align: center;
    margin-top: 150px;
    padding-top: 30px;
}

.special_offers_btn button {

    display: flex;
    width: 200px;
    height: 60px;
    background-color: #00001d;
    border: 2px solid white;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    padding: 0 25px;
}


.special_offers_btn button:hover {
    background-color: #ff6162;
    border: 2px solid #ff6162;
    transition: 0.5s ease;
}

.special_offers .special_offers_header {
    padding-top: 40px;
    font-size: 26px;
    margin-bottom: -44px;
}

.special_offers_main p {
    color: #ff6162;
    font-size: 44px;
    padding-bottom: 20px;
}

.special_offers_content p {
    margin-top: -10px;
    font-size: 20px;
}

.special_offers_btn {
    padding-top: 30px;
    padding-bottom: 40px;

}

.special_offers_btn a {
    text-decoration: none;
}



.column_main {
    display: inline-block;
    width: 430px;
    height: 788px;
}

.three_columns {
    padding: 240px 290px 140px 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
}

.row_feature {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
}

.column header {
    width: fit-content;
    padding-right: 230px;
    border-bottom: 1px solid white;
    font-size: 23px;
}

.column_img {
    padding: 20px;
    border: 5px solid white;
}

.column_img img {
    width: 121px;
    height: 151px;
}

.row_main {
    padding-top: 30px;
}

.description {
    font-size: 23px;
    padding-left: 20px;
}

.column_content p span b {
    padding-left: 20px;
    font-size: 20px;
    padding-right: 10px;
    color: #ff6162;

}

.row_special_price {
    text-decoration: line-through;
}


.scroll_up {
    position: fixed;
    bottom: 20px;
    left: 95%;
    background-color: white;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    z-index: 5;
}

.arrow_up {
    color: white;
    text-decoration: none;
}

.scroll_up img {
    width: 30px;
}

.scroll_up:hover {
    background-color: #ff6162;
}

.scroll_up:active {
    background-color: rgba(255, 97, 97, 0.8);
    transform: translateY(-4px);
}

.product_action {
    margin-left: -20px;
}

.product_action ul {
    display: flex;
    flex-direction: row;
}

.product_action ul li {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 13px;
    display: grid;
    place-items: center;
}

.product_action ul li a img {
    width: 18px;
}

.product_action ul li:hover {
    background-color: #ff6162;
    transition: 0.5s ease;
}

.product_action_feature {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 130px;
    left: 15px;
    background-color: #00001d;
    margin-left: 49px;
    margin-right: 0px;
    padding: 0;
    width: 170px;
    height: fit-content;
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.55s ease-in-out, visibility 0.2s, z-index 0.01s;
}


.product_action_feature ul {
    display: flex;
    justify-content: space-evenly;
    width: inherit !important;
    border-radius: 20px;
    padding: 0;
    margin: 0;
}

.product_action_feature ul li {
    display: grid !important;
    place-items: center !important;
    border: none !important;
    width: 30px !important;
    height: 30px !important;
    padding: 0px;
    margin: 10px 0px;
}

.product_action_feature ul li img {
    width: 18px !important;
}

.best_seller:hover .product_action_feature {
    visibility: visible;
    z-index: 1;
    opacity: 1.0;
}

@keyframes slideupdown {
    from {
        transform: translateY(-7px);
    }

    to {
        transform: translateY(7px);
    }

}

.footer {
    background-image: url(images/layered-waves-haikei.svg);
    width: 100%;
    height: 600px;
    margin-top: 100px;
    background-size: conta;
    background-repeat: no-repeat;
}

.footer_content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.footer_main {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px 300px;
}

.logo {
    display: flex;
    flex-direction: column;
}

.iframe iframe {
    width: 350px;
    height: 230px;
    margin-top: 10px;
}

.iframe {
    display: flex;
    flex-direction: column;
}

.contact_information div {
    display: flex;
}

.contact_information div img {
    padding-top: 16px;
    width: 20px;
    height: 20px;
    padding-right: 20px;
}

.social_media_icons {
    position: absolute;
    top: 450px;
    left: 50%;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.icons a {
    margin: 0 20px;
    position: relative;
}

.icons a .layer {
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
}

.icons a:hover .layer {
    transform: rotate(-35deg) skew(20deg);
}

.icons a .layer span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
}

.icons a .layer span.fab {
    font-size: 30px;
    line-height: 55px;
    text-align: center;
}

.icons a:hover .layer span:nth-child(1) {
    opacity: 0.2;
}

.icons a:hover .layer span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
}

.icons a:hover .layer span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}

.icons a:hover .layer span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px);
}

.icons a:hover .layer span:nth-child(5) {
    opacity: 1;
    transform: translate(20px, -20px);
}

.icons a:nth-child(1) .layer span {
    color: #4267B2;
    border-color: #4267B2;
}

.icons a:nth-child(2) .layer span {
    color: #E1306C;
    border-color: #E1306C;
}

.icons a:hover:nth-child(1) .layer span {
    box-shadow: -1px 1px 3px #4267B2;
}

.icons a:hover:nth-child(2) .layer span {
    box-shadow: -1px 1px 3px #E1306C;
}

.footer_main {
    margin-top: 40px;
}

.footer_main div ul {
    list-style: none;
}

.footer_main div ul li {
    margin-top: 35px;
    font-size: 16px;
}

.footer_main div header {
    padding-right: 14px;
    padding-top: 10px;
}

.border_footer_header {
    padding-right: 50px;
    border-top: 2px solid white;
    font-size: 0px;

}

.footer_main div ul div li span {
    transition: all ease 0.5s;
}

.footer_main div ul div li span:hover {
    color: #ff6162;
}

.footer_row {
    padding-top: 30px;
}

.footer nav {
    display: grid;
    place-items: center;
    background-color: #030128;
    width: 100%;
    height: 50px;
    letter-spacing: 1px;
}

.btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.cancel_btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

.wrapper input {
    display: none;
}

.mobile_item {
    display: none;
}

@media screen and (max-width: 2180px) {
    .serach_bar {
        width: 700px;
    }

    .banner {
        display: inline-block;
    }

    .feature {
        width: 300 !important;
        padding: 0px;
    }

    .feature img {
        padding-top: 20px;
        width: 55px !important;
        height: 55px !important;
    }

    .feature_content_1 b,
    .feature_content_2 b,
    .feature_content_3 b,
    .feature_content_4 b {
        font-size: 23px !important;
    }

    .feature_content_1 p,
    .feature_content_2 p,
    .feature_content_3 p,
    .feature_content_4 p {
        font-size: 19px !important;
    }

    .feature_content_1,
    .feature_content_2,
    .feature_content_3,
    .feature_content_4 {
        margin-left: 18px;
    }

    .four_features {
        padding: 20px 290px;
    }

    .column header {
        width: 300px !important;
        padding-right: 20px !important;
    }

    .best_seller_section {
        padding: 0px 300px !important;
    }

    .three_columns {
        padding: 100px 300px !important;
        margin-left: 170px !important;
    }

    .row_feature {
        width: 400px !important;
    }
}

@media screen and (max-width: 2000px) {

    #show_header_cate1,
    #show_header_cate2,
    #show_header_cate3,
    #show_header_cate4 {
        transition: all 0.5s ease;
    }

    .cate1,
    .cate2,
    .cate3,
    .cate4 {
        display: none;
        padding-left: 120px;
    }

    .header {
        display: none;
    }

    .shop_section {
        padding: 0px 260px;
    }

    .feature img {
        width: 50px !important;
        height: 50px !important;
    }

    .best_seller_section {
        padding: 0px 200px !important;
    }

    .section_main {
        display: flex !important;
        height: 500px;
        place-items: center !important;
        padding: 0 !important;
        width: 100%;

    }

    .four_features {
        padding: 0 200px;
    }

    .section_content {
        width: 100% !important;
        align-items: center !important;
    }

    .section_img {
        display: none;
    }

    .contact {
        display: none;
    }

    .btn {
        display: block;
    }

    #show_header_cate1:checked~.cate1 {
        display: block;
    }

    #show_header_cate2:checked~.cate2 {
        display: block;
    }

    #show_header_cate3:checked~.cate3 {
        display: block;
    }

    #show_header_cate4:checked~.cate4 {
        display: block;
    }


    #showMega:checked~.mega_box {
        max-height: 100%;
    }

    .serach_bar {
        width: 500px;
    }

    .desktop_item {
        display: none;
    }

    .mobile_item {
        display: block;
        font-size: 25px;
        color: #f2f2f2;
        font-weight: 500;
        padding: 10px 50px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .mobile_item:hover {
        color: #ff6162;
    }

    .wrapper .nav_links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        background-color: #030128;
        display: block;
        top: 0;
        left: -100%;
        overflow-y: auto;
        line-height: 100px;
        padding: 50px 0px 0 120px;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        margin-top: 0;
        transition: all 0.3s ease;
    }

    .menu_btn {
        display: inline-block;
        padding-left: 20px;
    }

    #menu_btn:checked~.nav_links {
        left: 0%;
    }

    /* #menu_btn:checked ~ .menu_btn{
        display: none;
    } */

    .nav_links::-webkit-scrollbar {
        width: 0px;
    }

    .nav_links li {
        margin: 15px 10px;
    }

    .nav_links {
        padding: 0 20px;
        display: inline-block;
        font-size: 20px;

    }

    .mega_box {
        position: static;
        top: 40px;
        left: -33px;
        background-color: #030128;
        width: 100%;
        height: fit-content;
        visibility: visible;
        opacity: 1;
        padding: 0 10px;
        transition: all 0.3s ease;
        max-height: 0px;
        overflow: hidden;
        transform: translateY(-1em) !important;

    }

    .mega_box .content {
        display: flex;
        flex-direction: column;
        padding: 0px 20px 0 10px;

        justify-content: space-between;
    }

    .mega_box .content .row {
        width: 100%;
        margin-bottom: 15px;
    }

    .mega_box .content .row:nth-child(1),
    .mega_box .content .row:nth-child(2) {
        border-top: 0px;
    }

    .content .rorw .mega_links {
        border-left: 0px;
        padding-left: 15px;
    }

    .row .mega_links li {
        margin: 0;
    }

    .content .row header {
        font-size: 22px;
        font-weight: 600;
        padding-right: 0px;
    }

    .mega_links li a {
        font-size: 16px;
    }

    .explore_more {
        width: 100%;
        display: grid;
        place-items: center;
    }

    .feature img {
        width: 55px !important;
        height: 55px !important;
    }

    .feature_content_1 b,
    .feature_content_2 b,
    .feature_content_3 b,
    .feature_content_4 b {
        font-size: 24px !important;
    }

    .feature_content_1 p,
    .feature_content_2 p,
    .feature_content_3 p,
    .feature_content_4 p {
        font-size: 18px !important;
    }

    .feature_content_1,
    .feature_content_2,
    .feature_content_3,
    .feature_content_4 {
        padding-left: 15px !important;
        padding-top: 29px !important;

    }

    .feature {
        width: 300px !important;
    }

    .best_seller_header b {
        font-size: 34px !important;
    }

    .three_columns {
        padding: 50px 250px !important;
        margin-left: 90px !important;
    }

    .row_main {
        width: 400px !important;
        margin-right: 30px;
    }

    .content .row header {
        width: fit-content !important;
        border-bottom: 0px;
    }
}


@media screen and (max-width: 1700px) {
    .scroll_up {
        left: 90%;
    }

    .section_img {
        display: none !important
    }

    .serach_bar {
        display: none;
    }

    .search_box {
        display: none;
    }

    .shop_section {
        justify-content: space-around;
        width: 100%;
        padding: 0;
    }

    .section_content span {
        text-align: center;
    }

    .section_content span b {
        text-align: center;
        font-size: 34px !important;
    }

    .section_template_content {
        font-size: 16px !important;
    }

    .feature {
        width: 240px !important;
    }

    .section_template_feature {
        display: none;
        visibility: hidden;
    }

    .feature_content_1 b,
    .feature_content_2 b,
    .feature_content_3 b,
    .feature_content_4 b {
        font-size: 30px !important;
    }


    .feature_content_1 p,
    .feature_content_2 p,
    .feature_content_3 p,
    .feature_content_4 p {
        font-size: 20px !important;
    }

    .feature_content_1,
    .feature_content_2,
    .feature_content_3,
    .feature_content_4 {
        padding-left: 20px !important;
        padding-top: 30px !important;

    }

    .section_template_feature_1 {
        display: block;
        visibility: visible;
    }

    .best_seller_header {
        padding-top: 130px !important;
    }

    .four_features_1 {
        padding: 0 300px !important;
    }

    .feature_1 {
        padding-top: 100px;
        width: 360px !important;
        display: flex !important;
        flex-direction: column !important;
    }

    .feature_1 .feature img {
        padding-top: 30px !important;
        width: 60px !important;
    }

    .feature {
        width: 400px !important;
        height: 120px !important;
        margin-bottom: 30px !important;
    }

    .best_seller {
        width: 240px !important;
        height: 430px !important;
    }

    .best_seller_img img {
        width: 170px !important;
        height: 230px !important;
    }

    .footer_main {
        padding: 20px 200px !important;
    }

    .best_seller_content p b {
        font-size: 20px !important;
        padding-left: 16px !important;
    }

    .star {
        padding-left: 7px !important;
        margin-left: 0px !important;
    }

    .feature img {
        padding-left: 13px !important;
    }

    .best_seller .product_action {
        margin-left: 19px !important;
    }

    .section_template_feature_1 .feature:hover img {
        animation: shake 0.1s ease-in-out 0.1s 4;
    }

    .four_features {
        padding: 0 200px !important;
    }

    .footer_main {
        padding: 20px 150px !important;
    }

    .iframe {
        padding-right: 40px;
    }

    .column_content p {
        font-size: 20px !important;
    }
}

@media screen and (max-width:1490px) {
    .best_seller_section {
        padding: 0px 120px !important;
    }
}

@media screen and (max-width: 960px) {
    .best_seller_section {
        flex-direction: column !important;
        align-items: center !important;
    }

    .best_seller {
        margin: 0 !important;
        margin-top: 100px !important;
        margin-bottom: 40px !important;
        width: 500px !important;
        height: 700px !important;
    }

    .best_seller_img {
        width: 500px !important;
        height: 500px !important;
        padding-bottom: 40px !important;
    }

    .best_seller_img img {
        width: 300px !important;
        height: 450px !important;
    }

    .best_seller_content p b {
        font-size: 34px !important;
        padding-bottom: 20px !important;
    }

    .best_seller_content p span {
        padding-top: 10px !important;
    }

    .best_seller_content {
        padding-left: 30px !important;
    }

    .best_seller_content .star img {
        padding-left: 30px !important;
        width: 30px !important;
    }

    .best_seller_content .star {
        padding-top: 10px !important;
        margin-left: -18px !important;
    }

    .feature {
        margin-top: 30px !important;
        width: 300px !important;
        height: 120px !important;
    }

    .feature_1 {
        margin-left: 50px !important;
        margin-right: 20px !important;
    }

    .feature_1 .feature img {
        width: 60px !important;
        height: 60px !important;
    }

    .feature_content_1 b {
        font-size: 24px !important;
    }

    .feature_content_1 p {
        font-size: 16px !important;
    }

    .best_seller .product_action {
        margin-left: 0px !important;
    }

    .product_action_feature {
        align-items: center;
        width: 300px !important;
        height: 70px !important;
        top: 225px;
        left: 100px !important;
        margin-left: 0 !important;
    }

    .product_action_feature ul li a img {
        width: 30px !important;
    }

    .product_action ul li {
        width: 60px !important;
        height: 60px !important;

    }

    .special_offers_header {
        padding-top: 0px !important;
    }

    .special_offers_main p b {
        font-size: 35px !important;
    }

    .special_offers_content p {
        font-size: 18px !important;
    }

    .best_seller_header b {
        font-size: 40px !important;
    }

    .three_columns {
        display: none;
    }

    .footer {
        margin-top: 100px;
    }

    .footer_main {
        padding: 0px !important;
    }

    .iframe {
        display: none;
    }

    .footer_main {
        justify-content: space-around;
    }

    footer nav {
        margin-top: 200px;
    }

    .social_media_icons {
        padding-top: 100px !important;
        position: static;
    }

    .footer nav {
        margin-top: 20px;
    }
}

@media screen and (max-width:760px) {

    .feature_1{
        padding-top: 30px !important;
        margin-left: 20px !important;
    }

    .feature{
        width: 240px !important;
        height: 100px !important;
    }

    .feature_1 .feature img {
        padding-top: 20px !important;
    }

    .feature_content_1 b{
        font-size: 18px !important;
    }

    .feature_content_1 p{
        font-size: 15px !important;
    }

    .social_media_icons{
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .footer_row{
        font-size: 14px !important;
    }

    .footer_row ul{
        padding-left: 20px !important;
    }
}