/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Pham Phuoc Sang
ID: s3975979
Acknowledgement: https://preview.themeforest.net/item/bookchoix-elementor-woocommerce-wordpress-theme/full_screen_preview/35505133?_ga=2.196949419.643141599.1681133825-1556651051.1680530780
          https://noraure-5.myshopify.com/
          https://www.youtube.com/watch?v=EJdtHQqGW6E
          https://www.youtube.com/watch?v=rB28hKxvN38&list=RDCMUCk7xIEmd3MeyhIu2StLX5yA&index=2
          https://www.codingnepalweb.com/css3-3d-layered-hover-effect/  */


a {
    text-decoration: none;
}

body {
    background-color: #00001d;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
}

.logo_font {
    font-family: 'El Messiri', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Serif', serif;
}

body::-webkit-scrollbar {
    width: 0;
}

.sans_serif {
    font-family: 'El Messiri', sans-serif;
    color: white;
}

.serif {
    color: white;
    font-family: 'Roboto Serif', serif;
}

.shop_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 360px;
}

.logo_name {
    color: white;
    font-size: 60px;
}

.book_icon {
    width: 42px;
}

.header_top_search {
    color: white;
    width: fit-content;
}

.serach_bar {
    display: inline-block;
    background-color: #00001d;
    border: 1px solid rgba(255, 255, 255, .1);
    width: 950px;
    height: 60px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
}

.search_box {
    padding: 0 40px;
    width: 150px;
    color: white;
    border-radius: 5px;
    background-color: #ff6162;
    font-size: 22px;
    width: fit-content;
    height: 60px;
}

.search_box:hover {
    background-color: #00001d;
    border: 1px solid #ff6162;
    color: #ff6162;

}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 360px;
}



.contact {
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding-top: 0px;
}


.tel:hover {
    transition: 0.5s ease;
    color: #ff6162;
}

nav .wrapper {
    background-color: #00001d;
    max-width: 1250px;
    padding: 0 30px;
    position: relative;
}

.nav_links li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 9px 50px;
    transition: 0.5s ease;
}


.nav_links .mega_box .content a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 9px 15px;
    transition: 0.5s ease;
}

.nav_links li a:hover {
    color: #ff6162;
}

.nav_links li {
    list-style: none;
}

.nav_links {
    z-index: 100;
    display: inline-flex;
    margin-left: -118px;
}

.mega_box {
    position: absolute;
    top: 50px;
    left: -33px;
    background-color: #00001d;
    width: 1000px;
    height: fit-content;
    visibility: collapse;
    opacity: 0;
    padding: 0 30px;
    transition: all 0.5s ease 0s;
    transform: rotateX(90deg);
    z-index: 1;
    -webkit-transform: rotateX(90deg);
    transform-origin: center top 0;
}

.mega_box .content {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
}

.content .row {
    line-height: 55px;
}

.content .row header {
    font-size: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-right: 100px;
    transition: 0.5s ease;
}


.content .row .mega_links {
    margin-left: -55px;
}

.row .mega_links li a:hover {
    color: #ff6162;
}

.row .mega_links li a {
    transition: 0.5s ease;
}

.nav_links li:focus .mega_box,
.nav_links li:focus-within .mega_box,
.nav_links li:hover .mega_box {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s;
}

.section_template {
    height: fit-content;
    width: 100%;
    background-image: url(images/dark_bg_2.png);
    z-index: -1;
}

.section_template .section_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 360px;
}

.section_img {
    height: 600px;
    margin-right: 0px;
    margin-top: 25%;
}

.section_template div div b {
    text-transform: uppercase;
    font-size: 43px;
    letter-spacing: 10px;
    font-weight: 2000;
}

.section_template div div p {
    text-align: left;
}

.section_template div .section_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.content_underline {
    border-bottom: 4px solid #ff6162;
    opacity: 1px;
    padding-right: 100px;
    font-size: 0px;
}

.section_template_content {
    font-size: 18px;
}

.section_content a {
    text-decoration: none;
}

.section_content button {
    display: flex;
    width: 200px;
    height: 60px;
    background-color: #00001d;
    border: 2px solid white;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    padding: 0 25px;
}

.section_content button:hover {
    background-color: #ff6162;
    border: 2px solid #ff6162;
    transition: 0.5s ease;
}



.section_content button span {
    margin-right: 20px;
}

.btn_img {
    padding-bottom: 7px;

}

.section_template_feature img {
    width: 75px;
    height: 75px;
    padding-left: 10px;
    padding-top: 15px;
    transition: transform ease-in-out;
}

@keyframes shake {
    from {
        transform: scale(1.2) rotate(-1.4deg);
    }

    to {
        transform: rotate(2.8deg) scale(1.2);
    }
}

.section_template_feature .feature:hover img {
    width: 75px;
    height: 75px;
    padding-left: 10px;
    padding-top: 15px;
    animation: shake 0.1s ease-in-out 0.1s 4;
}

.four_features {
    padding: 0 360px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.feature_content_1,
.feature_content_2,
.feature_content_3,
.feature_content_4 {
    padding-top: 30px;
    margin-left: 25px;
    line-height: 15px;
    font-size: 19px;
}

.feature div b {
    font-size: 26px;
}

.feature {
    display: flex;
    background-color: #030128;
    height: 100px;
    width: 320px;
    padding: 10px 13px;
}

.section_template_feature {
    margin-top: 70px;
}

.section_template_feature_1 {
    visibility: hidden;
    display: none;
}

.best_seller_header {
    margin-top: 0;
    text-align: center;
    line-height: 14px;
    padding-bottom: 20px;
    padding-top: 200px;
}

.best_seller_header b {
    font-size: 44px;
}

.best_seller_header p {
    font-size: 23px;
}

.best_seller_section {
    padding: 0 360px;
    display: flex;
    justify-content: space-between;
}

.best_seller {
    position: relative;
    margin-top: 50px;
    border: 1px solid rgb(97, 78, 78);
    box-sizing: border-box;
    width: 300px;
    height: 480px;
    margin-right: 40px;
}

.best_seller_1 .best_seller {
    margin-right: 200px;

}

.best_seller_1 {
    display: flex;
    justify-content: space-evenly;

}

.best_seller_img {
    display: grid;
    place-items: center;
}

.best_seller_img img {
    width: 200px;
    height: 270px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.best_seller div p img {
    width: 19px;
    margin-top: -10px;
}

.best_seller_content p b {
    line-height: 10px;
    padding-left: 19px;
    font-size: 23px;
}

.star {
    margin-right: 10px;
    margin-left: 10px;
}

.star img {
    width: 100px;
    padding-left: 10px;
}

.price {
    color: #ff6162;
    display: block;
}

.sale_off {
    text-decoration: line-through;
    color: white;
    padding-left: 30px;
}

.special_price {
    display: flex;
}

.special_price span {
    margin-right: -26px;
}

.special_offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/dark_bg_3.png);
    width: 100%;
    height: 540px;
    text-align: center;
    margin-top: 150px;
    padding-top: 30px;
}

.special_offers_btn button {

    display: flex;
    width: 200px;
    height: 60px;
    background-color: #00001d;
    border: 2px solid white;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    padding: 0 25px;
}


.special_offers_btn button:hover {
    background-color: #ff6162;
    border: 2px solid #ff6162;
    transition: 0.5s ease;
}

.special_offers .special_offers_header {
    padding-top: 40px;
    font-size: 26px;
    margin-bottom: -44px;
}

.special_offers_main p {
    color: #ff6162;
    font-size: 44px;
    padding-bottom: 20px;
}

.special_offers_content p {
    margin-top: -10px;
    font-size: 20px;
}

.special_offers_btn {
    padding-top: 30px;
    padding-bottom: 40px;

}

.special_offers_btn a {
    text-decoration: none;
}



.column_main {
    display: inline-block;
    width: 430px;
    height: 788px;
}

.three_columns {
    padding: 240px 290px 140px 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
}

.row_feature {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
}

.column header {
    width: fit-content;
    padding-right: 230px;
    border-bottom: 1px solid white;
    font-size: 23px;
}

.column_img {
    padding: 20px;
    border: 5px solid white;
}

.column_img img {
    width: 121px;
    height: 151px;
}

.row_main {
    padding-top: 30px;
}

.description {
    font-size: 23px;
    padding-left: 20px;
}

.column_content p span b {
    padding-left: 20px;
    font-size: 20px;
    padding-right: 10px;
    color: #ff6162;

}

.row_special_price {
    text-decoration: line-through;
}


.scroll_up {
    position: fixed;
    bottom: 20px;
    left: 95%;
    background-color: white;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    z-index: 5;
}

.arrow_up {
    color: white;
    text-decoration: none;
}

.scroll_up img {
    width: 30px;
}

.scroll_up:hover {
    background-color: #ff6162;
}

.scroll_up:active {
    background-color: rgba(255, 97, 97, 0.8);
    transform: translateY(-4px);
}

.product_action {
    margin-left: -20px;
}

.product_action ul {
    display: flex;
    flex-direction: row;
}

.product_action ul li {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 13px;
    display: grid;
    place-items: center;
}

.product_action ul li a img {
    width: 18px;
}

.product_action ul li:hover {
    background-color: #ff6162;
    transition: 0.5s ease;
}

.product_action_feature {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 130px;
    left: 15px;
    background-color: #00001d;
    margin-left: 49px;
    margin-right: 0px;
    padding: 0;
    width: 170px;
    height: fit-content;
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.65s ease 0s;
    transform: rotateX(90deg);
    z-index: 1;
    -webkit-transform: rotateX(90deg);
}


.product_action_feature ul {
    display: flex;
    justify-content: space-evenly;
    width: inherit !important;
    border-radius: 20px;
    padding: 0;
    margin: 0;
}

.product_action_feature ul li {
    display: grid !important;
    place-items: center !important;
    border: none !important;
    width: 30px !important;
    height: 30px !important;
    padding: 0px;
    margin: 10px 0px;
}

.product_action_feature ul li img {
    width: 18px !important;
}

.best_seller:hover .product_action_feature {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s;
}

@keyframes slideupdown {
    from {
        transform: translateY(-7px);
    }

    to {
        transform: translateY(7px);
    }

}

.footer {
    background-image: url(images/layered-waves-haikei.svg);
    width: 100%;
    height: 600px;
    margin-top: 100px;
    background-size: conta;
    background-repeat: no-repeat;
}

.footer_content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.footer_main {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px 300px;
}

.logo {
    display: flex;
    flex-direction: column;
}

.iframe iframe {
    width: 350px;
    height: 230px;
    margin-top: 10px;
}

.iframe {
    display: flex;
    flex-direction: column;
}

.contact_information div {
    display: flex;
}

.contact_information div img {
    padding-top: 16px;
    width: 20px;
    height: 20px;
    padding-right: 20px;
}

.social_media_icons {
    position: absolute;
    top: 490px;
    left: 46.1%;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.icons a {
    margin: 0 20px;
    position: relative;
}

.icons a .layer {
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
}

.icons a:hover .layer {
    transform: rotate(-35deg) skew(20deg);
}

.icons a .layer span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
}

.icons a .layer span.fab {
    font-size: 30px;
    line-height: 55px;
    text-align: center;
}

.icons a:hover .layer span:nth-child(1) {
    opacity: 0.2;
}

.icons a:hover .layer span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
}

.icons a:hover .layer span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}

.icons a:hover .layer span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px);
}

.icons a:hover .layer span:nth-child(5) {
    opacity: 1;
    transform: translate(20px, -20px);
}

.icons a:nth-child(1) .layer span {
    color: #4267B2;
    border-color: #4267B2;
}

.icons a:nth-child(2) .layer span {
    color: #E1306C;
    border-color: #E1306C;
}

.icons a:hover:nth-child(1) .layer span {
    box-shadow: -1px 1px 3px #4267B2;
}

.icons a:hover:nth-child(2) .layer span {
    box-shadow: -1px 1px 3px #E1306C;
}

.footer_main {
    margin-top: 40px;
}

.footer_main div ul {
    list-style: none;
}

.footer_main div ul li {
    margin-top: 35px;
    font-size: 16px;
}

.footer_main div header {
    padding-right: 14px;
    padding-top: 10px;
}

.border_footer_header {
    padding-right: 50px;
    border-top: 2px solid white;
    font-size: 0px;

}

.footer_main div ul div li span {
    transition: all ease 0.5s;
}

.footer_main div ul div li span:hover {
    color: #ff6162;
}

.footer_row {
    padding-top: 30px;
}

.footer nav {
    display: grid;
    place-items: center;
    background-color: #030128;
    width: 100%;
    height: 50px;
    letter-spacing: 1px;
}

.btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.cancel_btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

.wrapper input {
    display: none;
}

.mobile_item {
    display: none;
}


/* -----------------------------------CATEGORY PAGE----------------------------------- */

.header_category div p b a {
    text-decoration: none;
    color: white;

}

.header_category div p b a:hover {
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
    color: #ff6162;
}

.header_category div {
    font-size: 20px;
    text-align: center;
    padding: 20px 0px;
    background-color: #030128;
}

.section_main_category {
    display: flex;
    margin-top: 100px;
}

.inline {
    display: inline-block;
    padding-right: 200px;
}

.row_category_feature {
    height: fit-content;
    margin-left: 500px;
}

.row_category_feature ul li {
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: underline;
    border-bottom: 1px rgb(64, 63, 63) solid;
    margin-bottom: 50px;
}

.row_category_feature ul li img {
    width: 15px;
    height: 15px;
    padding-top: 26px;
}

.row_category_feature ul li div p {
    font-size: 20px;
    font-weight: 1000;
}

* {
    scroll-behavior: smooth;
    list-style: none;
}

.section_template_category {
    height: 1000px;
    margin-bottom: 100px;
}

.main_category {
    text-align: center;
    font-size: 37px;
}

.sub_category {
    margin-left: 100px;
    margin-top: 40px;
    font-size: 25px;
}

.sub_category p {
    margin-bottom: 0px;
}

.category_section {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: -30px;
}

.category_section .best_seller {
    width: 320px;
    height: 561px;
}


.category_section .best_seller .best_seller_img img {
    width: 190px;
    height: 300px;
    padding-top: 40px;
    padding-bottom: 70px;
}

.footer_category {
    margin-top: 3000px;
}

.category_section .product_action_feature {
    left: 25px;
    top: 150px;
}

.row_category_book {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.page_number {
    display: flex;
    margin-top: 20px;
    padding-left: 1040px;
}

.page_number li {
    display: grid;
    place-items: center;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border: #f2f2f2 1px solid;
    border-radius: 50%;
}

.page_number li p {
    width: 30px;
    height: 30px;
    margin: 0;
    display: grid;
    place-items: center;
}

.current_page {
    border-radius: 50%;
    background-color: #ff6162;
}

.page_number a {
    display: grid;
    place-items: center;
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.current_page:hover {
    opacity: 0.8;
}

.current_page:active {
    opacity: 0.6;
}

.next_page:hover {
    background-color: #E1306C;
    border-radius: 50%;
    opacity: 0.8;
}

.next_page:active {
    opacity: 0.6;
}

.best_seller_content p b {
    font-size: 20px;
}

.page2 {
    margin-top: 2200px;
}

/* -----------------------------------BOOK DETAIL PAGE----------------------------------- */
.book_detail_section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    padding: 100px 480px;
}

.single_book_template,
.single_book_content,
.single_book {
    display: grid;
    place-items: center;
}

.single_book_template {
    border: 1px rgb(64, 63, 63) solid;
    width: 650px;
    height: 870px;
}

.single_book img {
    width: 470px;
}

.alternative_book_section {
    height: 870px;
    margin-left: -70px;
}

.alternative_book_template {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: 870px;
    padding: 80px 0px;
    box-sizing: border-box;
}

.add_to_cart_btn {
    position: relative;
    display: grid;
    place-items: center;
    background-color: #ff6162;
    border: 0px;
    width: 400px;
    height: 90px;
    border-radius: 20px;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #ff6162;
    border-radius: 4px;
}

.add_to_cart_btn:hover {
    background: #030128;
    box-shadow: 0px 10px 15px 0px white;
    color: #ff6162;
}

.add_to_cart_btn:after {
    content: "";
    background: #ff6162;
    display: block;
    position: absolute;
    padding-top: 600%;
    padding-left: 350%;
    margin-left: -380px !important;
    margin-top: 100% !important;
    opacity: 0;
    transition: all 0.8s
}

.add_to_cart_btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.add_to_cart_btn:focus {
    outline: 0;
}

.alternative_book_content,
.alternative_book {
    display: grid;
    place-items: center;
}

.alternative_book img {
    width: 100px;
}

.alternative_book_content {
    width: 160px;
    height: 200px;
    border: 1px rgb(64, 63, 63) solid;
    margin-bottom: 0px;
}

.detail_content .name {
    font-size: 40px;
}

.detail_template {
    margin-top: -50px;
}

.detail_feature {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin-top: 70px;
    margin-bottom: 30px;
}

.detail_content div div {
    margin-bottom: 40px;
}

.genre {
    font-size: 21px;
}

.detail_feature div div img {
    width: 33px;
}

.secure,
.payment {
    display: flex;
}

.payment_img,
.secure_img {
    padding-top: 17px;
    margin-right: 30px;
}

.add_to_cart_section {
    margin-top: 70px;
}

.add_to_cart_btn p {
    font-size: 24px;
    padding: 0px;
    margin: 0px;
}

.payment_method {
    margin-top: 30px;
}

.payment_method img {
    width: 40px;
    margin-right: 13px;
}

.des_main {
    height: fit-content;
    border: 1px white solid;
}

.des_section {
    padding: 100px 480px;

}

.des_header {
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
}

.des_header div {
    position: relative;
    font-size: 20px;
    color: white;
    margin-right: 120px;
    transition: transform ease;
}

.des_header div::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: #ff6162;
    transition: width .3s ease-in-out;
    margin-top: -25px;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: #ff6162;
    transition: width .3s ease-in-out;
    margin-top: -25px;
    width: 100%;
}

.des_header div:hover:after {
    width: 100%;
}

.des_header div a p:hover {
    color: #ff6162;
}

.des_content {
    padding: 10px 40px;
    padding-bottom: 70px;
}

.des_content p {
    font-size: 17px;
}

.footer_detail {
    margin-top: 300px;
}

.name .sale_off {
    margin-left: 10px;
    margin-top: 21px;
    font-size: 20px;
}

/* -----------------------------------BOOK DETAIL PAGE----------------------------------- */

.contact_us_information {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}

.contact_us_information_template,
.contact_us_template {
    width: 50%;
}

.line {
    display: flex;
    border: 1px solid white;
    margin: 30px;
    border-radius: 10px;
    padding-left:30px;
    flex-wrap: wrap;
}

.line input,
.line select {
    background-color: #00001d;
    border: none;
    color: white;
}

.line input:focus,
.line select:focus {
    border: none;
    outline: none !important;
}

.line p {
    font-size: 20px;
}

.receive p {
    margin-right: 40px;
}

.line label {
    margin-right: 50px;
}

.line_1 {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    padding-left: calc(100% - 80%);
}

.info_1 {
    font-size: 25px;
}

.info_main{
    display: grid;

}
.contact_us_information_main img {
    width: 40px;
    height: 40px;
    padding-top: 24px;
    padding-right: 40px;
}

.contact_us_information_main div p b,
.contact_us_main div p b {
    font-size: 40px;
}

.contact_us_information_main div p {
    margin-bottom: 40px;
}

.contact_us_template {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.2);
}

#name,
#email,
#phone,
#contact,
#note {
    font-family: 'El Messiri', sans-serif;
    color: white;
    font-size: 20px;
}

.submit_button{
    background-color: #739566;
    border: none;
}

.submit_button,.reset_button{
    margin-bottom: 30px;
}

.contact_button{
    display: flex;
    justify-content: space-around;
}

.submit_button:hover{
    border: 1px solid #739566;
    color: #739566;
    background-color: #00001d;
}

/* -----------------------------------RESPONSIVE----------------------------------- */
@media screen and (max-width: 2520px) {

    .book_detail_section,
    .des_section {
        padding: 100px 350px;
    }
}

@media screen and (max-width: 2280px) {

    .book_detail_section,
    .des_section {
        padding: 100px 300px;
    }
}


@media screen and (max-width: 2180px) {
    .serach_bar {
        width: 700px;
    }

    .banner {
        display: inline-block;
    }

    .feature {
        width: 300 !important;
        padding: 0px;
    }

    .feature img {
        padding-top: 20px;
        width: 55px !important;
        height: 55px !important;
    }

    .feature_content_1 b,
    .feature_content_2 b,
    .feature_content_3 b,
    .feature_content_4 b {
        font-size: 23px !important;
    }

    .feature_content_1 p,
    .feature_content_2 p,
    .feature_content_3 p,
    .feature_content_4 p {
        font-size: 19px !important;
    }

    .feature_content_1,
    .feature_content_2,
    .feature_content_3,
    .feature_content_4 {
        margin-left: 18px;
    }

    .four_features {
        padding: 20px 290px;
    }

    .column header {
        width: 300px !important;
        padding-right: 20px !important;
    }

    .best_seller_section {
        padding: 0px 300px !important;
    }

    .three_columns {
        padding: 100px 300px !important;
        margin-left: 170px !important;
    }

    .row_feature {
        width: 400px !important;
    }


    /* -----------------------------------CATEGORY PAGE----------------------------------- */
    .row_category_feature {
        margin-left: 300px;
    }

    .category_section .best_seller {
        width: 290px;
        height: 520px;
    }

    .category_section .best_seller_content {
        margin-top: -23px;
    }

    .category_section .product_action_feature {
        left: 11px !important;
    }

    .page_number {
        padding-left: 950px;
    }

    .footer_category {
        margin-top: 2790px;
    }

    .page2 {
        margin-top: 1900px;
    }

    /* -----------------------------------BOOK DETAIL PAGE----------------------------------- */

    .book_detail_section,
    .des_section {
        padding: 100px 250px;
    }

    .footer_detail {
        margin-top: 300px !important;
    }

}

@media screen and (max-width: 2020px) {

    #show_header_cate1,
    #show_header_cate2,
    #show_header_cate3,
    #show_header_cate4 {
        transition: all 0.5s ease;
    }

    .cate1,
    .cate2,
    .cate3,
    .cate4 {
        display: none;
        padding-left: 120px;
    }

    .header {
        display: none;
    }

    .shop_section {
        padding: 0px 260px;
    }

    .feature img {
        width: 50px !important;
        height: 50px !important;
    }

    .best_seller_section {
        padding: 0px 170px !important;
    }

    .section_main {
        display: flex !important;
        height: 500px;
        place-items: center !important;
        padding: 0 !important;
        width: 100%;

    }

    .four_features {
        padding: 0 200px;
    }

    .section_content {
        width: 100% !important;
        align-items: center !important;
    }

    .section_img {
        display: none;
    }

    .contact {
        display: none;
    }

    .btn {
        display: block;
    }

    #show_header_cate1:checked~.cate1 {
        display: block;
    }

    #show_header_cate2:checked~.cate2 {
        display: block;
    }

    #show_header_cate3:checked~.cate3 {
        display: block;
    }

    #show_header_cate4:checked~.cate4 {
        display: block;
    }


    #showMega:checked~.mega_box {
        max-height: 100%;
    }

    .serach_bar {
        width: 500px;
    }

    .desktop_item {
        display: none;
    }

    .mobile_item {
        display: block;
        font-size: 25px;
        color: #f2f2f2;
        font-weight: 500;
        padding: 10px 50px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .mobile_item:hover {
        color: #ff6162;
    }

    .wrapper .nav_links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        background-color: #030128;
        display: block;
        top: 0;
        left: -100%;
        overflow-y: auto;
        line-height: 100px;
        padding: 50px 0px 0 120px;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        margin-top: 0;
        transition: all 0.3s ease;
    }

    .menu_btn {
        display: inline-block;
        padding-left: 20px;
    }

    #menu_btn:checked~.nav_links {
        left: 0%;
    }

    /* #menu_btn:checked ~ .menu_btn{
        display: none;
    } */

    .nav_links::-webkit-scrollbar {
        width: 0px;
    }

    .nav_links li {
        margin: 15px 10px;
    }

    .nav_links {
        padding: 0 20px;
        display: inline-block;
        font-size: 20px;

    }

    .mega_box {
        position: static;
        top: 40px;
        left: -33px;
        background-color: #030128;
        width: 100%;
        height: fit-content;
        visibility: visible;
        opacity: 1;
        padding: 0 10px;
        transition: all 0.3s ease;
        max-height: 0px;
        overflow: hidden;
        transform: translateY(-1em) !important;

    }

    .mega_box .content {
        display: flex;
        flex-direction: column;
        padding: 0px 20px 0 10px;

        justify-content: space-between;
    }

    .mega_box .content .row {
        width: 100%;
        margin-bottom: 15px;
    }

    .mega_box .content .row:nth-child(1),
    .mega_box .content .row:nth-child(2) {
        border-top: 0px;
    }

    .content .rorw .mega_links {
        border-left: 0px;
        padding-left: 15px;
    }

    .row .mega_links li {
        margin: 0;
    }

    .content .row header {
        font-size: 22px;
        font-weight: 600;
        padding-right: 0px;
    }

    .mega_links li a {
        font-size: 16px;
    }

    .explore_more {
        width: 100%;
        display: grid;
        place-items: center;
    }

    .feature img {
        width: 55px !important;
        height: 55px !important;
    }

    .feature_content_1 b,
    .feature_content_2 b,
    .feature_content_3 b,
    .feature_content_4 b {
        font-size: 24px !important;
    }

    .feature_content_1 p,
    .feature_content_2 p,
    .feature_content_3 p,
    .feature_content_4 p {
        font-size: 18px !important;
    }

    .feature_content_1,
    .feature_content_2,
    .feature_content_3,
    .feature_content_4 {
        padding-left: 15px !important;
        padding-top: 29px !important;

    }

    .feature {
        width: 300px !important;
    }

    .best_seller_header b {
        font-size: 34px !important;
    }

    .three_columns {
        padding: 50px 250px !important;
        margin-left: 90px !important;
    }

    .row_main {
        width: 400px !important;
        margin-right: 30px;
    }

    .content .row header {
        width: fit-content !important;
        border-bottom: 0px;
    }

    .footer_category {
        margin-top: 2760px;
    }

    .page2 {
        margin-top: 1910px;
    }

    /* -----------------------------------BOOK DETAIL PAGE----------------------------------- */

    .book_detail_section,
    .des_section {
        padding: 100px 200px;
    }

    .single_book_template {
        width: 600px;
        height: 800px;
    }

    .alternative_book_section,
    .alternative_book_template {
        height: 800px;
    }

    .alternative_book_template {

        padding: 50px 0px;
    }


}


@media screen and (max-width:1920px) {

    .book_detail_section,
    .des_section {
        padding: 100px 140px;
    }

    .single_book_template {
        width: 530px;
        height: 700px;
    }

    .alternative_book_section,
    .alternative_book_template {
        height: 700px;
    }

    .alternative_book_template {

        padding: 50px 0px;
    }

    .alternative_book_content {
        width: 120px;
        height: 160px;
    }

    .alternative_book img {
        width: 70px;
    }

    .single_book img {
        width: 380px;
    }

    .detail_section,
    .detail_template {
        height: 700px;
    }

    .detail_content .name {
        font-size: 30px;
    }

    .name .sale_off {
        margin-top: 10px;
    }

    .genre {
        font-size: 17px;
    }

    .payment_img img,
    .secure_img img {
        width: 30px !important;
    }

    .payment_img,
    .secure_img {
        padding-top: 12px !important;
        margin-right: 20px;
    }
}

@media screen and (max-width: 1700px) {
    .scroll_up {
        left: 90%;
    }

    .section_img {
        display: none !important
    }

    .serach_bar {
        display: none;
    }

    .search_box {
        display: none;
    }

    .shop_section {
        justify-content: space-around;
        width: 100%;
        padding: 0;
    }

    .section_content span {
        text-align: center;
    }

    .section_content span b {
        text-align: center;
        font-size: 34px !important;
    }

    .section_template_content {
        font-size: 16px !important;
    }

    .feature {
        width: 240px !important;
    }

    .section_template_feature {
        display: none;
        visibility: hidden;
    }

    .feature_content_1 b,
    .feature_content_2 b,
    .feature_content_3 b,
    .feature_content_4 b {
        font-size: 30px !important;
    }


    .feature_content_1 p,
    .feature_content_2 p,
    .feature_content_3 p,
    .feature_content_4 p {
        font-size: 20px !important;
    }

    .feature_content_1,
    .feature_content_2,
    .feature_content_3,
    .feature_content_4 {
        padding-left: 20px !important;
        padding-top: 30px !important;

    }

    .section_template_feature_1 {
        display: block;
        visibility: visible;
    }

    .best_seller_header {
        padding-top: 130px !important;
    }

    .four_features_1 {
        padding: 0 300px !important;
    }

    .feature_1 {
        padding-top: 100px;
        width: 360px !important;
        display: flex !important;
        flex-direction: column !important;
    }

    .feature_1 .feature img {
        padding-top: 30px !important;
        width: 60px !important;
    }

    .feature {
        width: 400px !important;
        height: 120px !important;
        margin-bottom: 30px !important;
    }

    .best_seller {
        width: 260px !important;
        height: 430px !important;
    }

    .best_seller_img img {
        width: 170px !important;
        height: 230px !important;
    }

    .footer_main {
        padding: 20px 200px !important;
    }

    .best_seller_content p b {
        font-size: 18px !important;
        padding-left: 16px !important;
    }

    .star {
        padding-left: 7px !important;
        margin-left: 0px !important;
    }

    .feature img {
        padding-left: 13px !important;
    }

    .best_seller .product_action {
        margin-left: 19px !important;
    }

    .section_template_feature_1 .feature:hover img {
        animation: shake 0.1s ease-in-out 0.1s 4;
    }

    .four_features {
        padding: 0 200px !important;
    }

    .footer_main {
        padding: 20px 150px !important;
    }

    .iframe {
        padding-right: 40px;
    }

    .column_content p {
        font-size: 20px !important;
    }

    .row_category_feature {
        margin-left: 250px;
    }

    .category_section .best_seller_content p b {
        font-size: 18px !important;
    }

    .category_section .star img {
        width: 16px;
        height: 16px;
    }

    .category_section .best_seller_content {
        margin-top: -45px !important;
    }

    .page_number {
        padding-left: 800px;
    }

    .footer_category {
        margin-top: 2300px;
    }

    .category_section .product_action_feature {
        left: 23px !important;
        width: 155px !important;
        top: 190px !important;
    }

    .scroll_category {
        left: 95%;
    }

    .page2 {
        margin-top: 1600px;
    }

    .contact_us_information{
        flex-direction: column;
        align-items: center;
        
    }

    .contact_us_template,
    .contact_us_information_template{
        width: 80%;
    }

    .contact_us_information_template{
        margin-bottom: 100px;
    }

    .submit_button,
    .reset_button{
        display: block;
    }
}

@media screen and (max-width:1600px) {
    .row_category_feature {
        margin-left: 140px;
    }

    .page_navigation {
        display: flex !important;
        align-items: flex-end !important;
    }

    /* -----------------------------------BOOK DETAILS PAGE----------------------------------- */
    .book_detail_section {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .alternative_book_template {
        flex-direction: row;
        justify-content: space-around;
        padding: 50px 50px;
    }

    .single_book_template {
        width: 800px;
        height: 1000px;
    }

    .single_book_template img {
        width: 600px;
    }

    .alternative_book_section,
    .alternative_book_template {
        width: 100%;
        height: 600px;
    }

    .alternative_book_content {
        width: 300px;
        height: 370px;
    }

    .alternative_book_section {
        margin: 0px;
    }

    .alternative_book img {
        width: 200px;
    }

    .detail_section,
    .detail_template {
        width: 100%;
        height: fit-content;
        margin-top: -70px;
    }

    .detail_template {
        margin: 0px;
    }

    .detail_content {
        display: flex;
    }

    .name {
        font-size: 50px !important;
        padding: 0px 100px;
    }

    .name .sale_off {
        margin-top: 30px;
    }

    .payment .genre,
    .secure .genre {
        padding-left: 20px;
    }

    .genre {
        font-size: 26px;
        padding-left: 100px;
    }

    .payment_img,
    .secure_img {
        padding-left: 100px;
        margin: 0px;
        padding-top: 28px !important;
    }

    .add_to_cart {
        display: flex;
        justify-content: center;
    }

    .payment_method {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .payment_method p {
        font-size: 20px;
    }

    .des_header div {
        margin-right: 50px;
    }
}


@media screen and (max-width:1490px) {
    .best_seller_section {
        padding: 0px 120px !important;
    }

    /* -----------------------------------CATEGORY PAGE----------------------------------- */
    .row_category_feature {
        margin-left: 50px;
    }

    /* -----------------------------------BOOK DETAILS PAGE----------------------------------- */

    .alternative_book_template {
        padding: 50px 0px;
    }

    .alternative_book_content {
        width: 230px;
        height: 360px;
    }

    .alternative_book img {
        width: 170px;
        height: 260px;
    }

    .book_detail_section,
    .des_section {
        padding: 30px 100px;
    }

    .best_seller_section,
    .four_features {
        padding: 0px 20px !important;
    }

    .three_columns {
        padding: 50px 140px !important;
        margin-left: 90px !important;
    }

}


@media screen and (max-width:1420px) {

    .section_main_category {
        flex-direction: column-reverse;
    }

    .category_section .best_seller {
        width: 370px !important;
        height: 560px !important;
    }

    .category_section .best_seller_img {
        width: 370px !important;
        height: 380px !important;
        padding-bottom: 30px !important;
        padding-top: 10px;
    }

    .category_section .best_seller_img img {
        width: 220px !important;
        height: 350px !important;
        padding-bottom: 0px !important;
        padding-top: 20px !important;
    }

    .footer_category {
        margin-top: 3000px;
    }

    .category_section .star img {
        width: 23px !important;
        height: 23px !important;
        padding-left: 10px !important;
    }

    .category_section .star {
        margin-left: 0px !important;
        padding-top: 0px !important;
    }

    .category_section .best_seller_content {
        margin-top: 6px !important;
        margin-left: -10px !important;
    }

    .category_section .best_seller_content p {
        margin-top: 0px !important;
        margin-bottom: 20px !important;
    }

    .category_section .best_seller_content p b {
        padding-top: 10px !important;
        font-size: 26px !important;
    }

    .category_section p.sans_serif.price.special_price {
        margin-top: -10px !important;
    }

    .category_section {
        flex-direction: column;
        align-items: center;
    }

    .footer_category {
        margin-top: 11050px;
    }

    .row_category_book .main_category {
        font-size: 40px;
    }

    .row_category_book .sub_category {
        font-size: 30px;
    }

    .page_number {
        padding-left: 600px;
    }

    .page_number li,
    .page_number li p {
        width: 40px;
        height: 40px;
    }

    .row_category_feature {
        margin-top: 50px;
        margin-left: 0px;
    }

    .row_category_feature li {
        font-size: 20px !important;
        margin-right: 50px !important;
    }

    .scroll_category {
        left: 90%;
    }

    .category_section .product_action_feature {
        left: 75px !important;
        width: 220px !important;
        height: 60px !important;
    }

    .header_category div {
        font-size: 26px;
    }

    .page2 {
        margin-top: 7310px;
    }

    .footer_category {
        margin-top: 9700px;
    }

    .best_seller_content {
        padding-left: 30px;
    }

}

@media screen and (max-width: 1300px) {
    .best_seller_section {
        flex-direction: column !important;
        align-items: center !important;
    }

    .best_seller {
        margin: 0 !important;
        margin-top: 100px !important;
        margin-bottom: 40px !important;
        width: 500px !important;
        height: 700px !important;
    }

    .best_seller_img {
        width: 500px !important;
        height: 500px !important;
        padding-bottom: 40px !important;
    }

    .best_seller_img img {
        width: 300px !important;
        height: 450px !important;
    }

    .best_seller_content p b {
        font-size: 34px !important;
        padding-bottom: 20px !important;
    }

    .best_seller_content p span {
        padding-top: 10px !important;
    }

    .best_seller_content {
        padding-left: 30px !important;
    }

    .best_seller_content .star img {
        padding-left: 30px !important;
        width: 30px !important;
    }

    .best_seller_content .star {
        padding-top: 10px !important;
        margin-left: -18px !important;
    }

    .feature {
        margin-top: 30px !important;
        width: 300px !important;
        height: 120px !important;
    }

    .feature_1 {
        margin-left: 50px !important;
        margin-right: 20px !important;
    }

    .feature_1 .feature img {
        width: 60px !important;
        height: 60px !important;
    }

    .feature_content_1 b {
        font-size: 24px !important;
    }

    .feature_content_1 p {
        font-size: 16px !important;
    }

    .best_seller .product_action {
        margin-left: 0px !important;
    }

    .product_action_feature {
        align-items: center;
        width: 300px !important;
        height: 70px !important;
        top: 225px;
        left: 100px !important;
        margin-left: 0 !important;
    }

    .product_action_feature ul li a img {
        width: 30px !important;
    }

    .product_action ul li {
        width: 60px !important;
        height: 60px !important;

    }

    .special_offers_header {
        padding-top: 0px !important;
    }

    .special_offers_main p b {
        font-size: 35px !important;
    }

    .special_offers_content p {
        font-size: 18px !important;
    }

    .best_seller_header b {
        font-size: 40px !important;
    }

    .three_columns {
        display: none;
    }

    .footer {
        margin-top: 100px;
    }

    .footer_main {
        padding: 0px !important;
    }

    .iframe {
        display: none;
    }

    .footer_main {
        justify-content: space-around;
    }

    footer nav {
        margin-top: 200px;
    }

    .social_media_icons {
        padding-top: 100px !important;
        position: static;
    }

    .footer nav {
        margin-top: 20px;
    }

    /* -----------------------------------CATEGORY PAGE----------------------------------- */

    .section_main_category {
        flex-direction: column-reverse;
    }

    .category_section .best_seller {
        width: 370px !important;
        height: 560px !important;
    }

    .category_section .best_seller_img {
        width: 370px !important;
        height: 380px !important;
        padding-bottom: 30px !important;
        padding-top: 10px;
    }

    .category_section .best_seller_img img {
        width: 220px !important;
        height: 350px !important;
        padding-bottom: 0px !important;
        padding-top: 20px !important;
    }

    .footer_category {
        margin-top: 3000px;
    }

    .category_section .star img {
        width: 23px !important;
        height: 23px !important;
        padding-left: 10px !important;
    }

    .category_section .star {
        margin-left: 0px !important;
        padding-top: 0px !important;
    }

    .category_section .best_seller_content {
        margin-top: 6px !important;
        margin-left: -10px !important;
    }

    .category_section .best_seller_content p {
        margin-top: 0px !important;
        margin-bottom: 20px !important;
    }

    .category_section .best_seller_content p b {
        padding-top: 10px !important;
        font-size: 26px !important;
    }

    .category_section p.sans_serif.price.special_price {
        margin-top: -10px !important;
    }

    .category_section {
        flex-direction: column;
        align-items: center;
    }

    .footer_category {
        margin-top: 11050px;
    }

    .row_category_book .main_category {
        font-size: 40px;
    }

    .row_category_book .sub_category {
        font-size: 30px;
    }

    .page_number {
        padding-left: 600px;
    }

    .page_number li,
    .page_number li p {
        width: 40px;
        height: 40px;
    }

    .row_category_feature {
        margin-top: 50px;
        margin-left: 0px;
    }

    .row_category_feature li {
        font-size: 20px !important;
        margin-right: 50px !important;
    }

    .scroll_category {
        left: 90%;
    }

    .category_section .product_action_feature {
        left: 75px !important;
        width: 220px !important;
        height: 60px !important;
    }

    .header_category div {
        font-size: 26px;
    }

    .page2 {
        margin-top: 7310px;
    }

    /* -----------------------------------BOOK DETAILS PAGE----------------------------------- */

    .book_detail_section,
    .des_section {
        padding: 30px 40px;
    }

    .name,
    .genre,
    .payment_img,
    .secure_img {
        padding: 10px 25px !important;
    }

    .payment_img,
    .secure_img {
        padding-top: 40px !important;
    }

}

@media screen and (max-width:960px){
    .line{
        flex-direction: column;
    }

    #name, #email, #phone, #contact, #note{
        border-radius:30px ;
    }

    .line p{
        margin-bottom:7px ;
    }
}

@media screen and (max-width:880px) {

    .special_offers {
        height: 660px;
    }

    .single_book_template {
        width: 600px !important;
        height: 870px;
    }

    .single_book_template img {
        width: 440px;
    }

    .alternative_book_content {
        width: 190px;
        height: 300px;
    }

    .alternative_book_section {
        height: 500px;
    }

    .alternative_book_content img {
        width: 130px;
        height: 190px;
    }

    .alternative_book_template {
        margin-top: -100px;
    }

    .book_detail_section {
        padding: 30px 20px;
    }

    .alternative_book_content {
        width: 180px;
        height: 300px;
    }

    .alternative_book_section {
        height: 500px;
    }

    .alternative_book_content img {
        width: 130px;
        height: 190px;
    }
}


@media screen and (max-width:760px) {

    .feature_1 {
        padding-top: 30px !important;
        margin-left: 20px !important;
    }

    .feature {
        width: 240px !important;
        height: 100px !important;
    }

    .feature_1 .feature img {
        padding-top: 20px !important;
    }

    .feature_content_1 b {
        font-size: 18px !important;
    }

    .feature_content_1 p {
        font-size: 15px !important;
    }

    .social_media_icons {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .footer_row {
        font-size: 14px !important;
    }

    .footer_row ul {
        padding-left: 20px !important;
    }

    /* -----------------------------------BOOK DETAILS PAGE----------------------------------- */

    .des_header {
        margin-left: 11px
    }

    .des_header div {
        margin-right: 30px
    }

    .single_book_template {
        width: 500px !important;
        height: 730px;
    }

    .single_book_template img {
        width: 400px;
    }

    .alternative_book_content {
        width: 160px;
        height: 220px;
    }

    .alternative_book_content img {
        width: 115px;
        height: auto;
    }

    .name {
        font-size: 35px !important;
    }

    .genre {
        font-size: 23px;
    }

    .payment_img,
    .secure_img {
        padding-top: 30px !important;
        padding-right: 0px !important;
    }

    .page_navigation {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width:618px) {
    .footer_row {
        font-size: 12px !important;
    }

    .footer_main div header {
        padding-right: 5px !important;
    }

}